[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
django = "*"
django-extensions = "*"
aiokafka = "*"
psycopg2 = "*"
elasticsearch = "==7.17.7"
elastic-transport = "==7.16.0"

[requires]
python_version = "3.9"

[dev-packages]
ipython = "*"
