[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
telethon = "*"
aiokafka = "*"
mongoengine = "*"
telemongo = "*"

[requires]
python_version = "3.9"

[dev-packages]
ipython = "*"
pytest = "*"
pytest_mongo = "*"
pytest-mock-resources = "*"
