[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#mysql-connector-python = "*"
#pandas = "*"
pymongo = "*"
tweepy = "==3.10"
kafka-python = "*"

[requires]
python_version = "3.9"

[dev-packages]
ipython = "*"

[pipenv]
allow_prereleases = true
