{% extends "base.html" %}

{% block content %}
  <style>
    #search-bar {
      display: flex;
      margin: 20px 10px;
    }

    #search-bar input {
      width: 100%;
      padding: 10px;
    }

    #search-bar button {
      margin-left: 15px;
    }

    .bulk-results {
      display: flex;
      flex-wrap: wrap;
    }

    .search {
      margin: 10px 10px 10px 10px;
      padding: 10px;
      background: #fafaff;
    }

    .search-header {
      height: 10px;
      font: italic 14px/12px sans-serif;
    }

    .search-term {
      font-weight: bold;
      color: #000;
      text-decoration: none;
    }

    .search-results {
      display: grid;
      grid-template-columns: repeat(1, 1000px);
      grid-auto-rows: 150px;
      grid-gap: 30px;
    }

    /*.message {*/
    /*  display: block;*/
    /*  color: #333;*/
    /*  text-decoration: none;*/
    /*}*/

    .message-image {
      max-width: 100px;
      max-height: 100px;
      margin-bottom: 10px;
    }

    .message-info {
      height: 254px;
      overflow: hidden;
    }

    .message-name {
      font-size: 10px;
      margin-right: 10px;
    }
  </style>


  <form id="search-bar" action="/search">
        <input type="text" placeholder="Search..." name="q" value="{{ query }}">
        <button type="submit"><i class="fa fa-search">Search</i></button>
<!--    <input class="form-check" type="checkbox" placeholder="Search for exact term" name="term" value="{{ exact_term }}">-->

      <div class="col-auto">
            <div class="form-check">
              <input class="form-check" type="checkbox" id="autoSizingCheck"  name="exact_term" {% if exact_term %}checked{% else %}{% endif %}>
              <label class="form-check-label" for="autoSizingCheck">Search for exact term</label>
            </div>
      </div>
  </form>

  <div class="bulk-results">

      <div class="search">
        <div class="search-header">
          <span>Found messages: {{ hits_total }}</span>
        </div>
        <div class="search-results">
              {% for message in messages %}
                <div class="message-info mt-5 mb-5">
                    <div class="row">
                        <div class="col-md-1">
                            {% if message.image %}
                                <img width="42" height="42" class="message-image" src="{{url_for('static', filename=message.image)}}" alt="message image">
                            {% endif %}
                        </div>
                        <div class="col-md-2">
                            <a href="{{message.channel}}" class="message">
                                <div class="message-name">{{message.channel}}</div>
                            </a>
                            <div class="message-name">{{message.date}}</div>
                            <div class="message-name">{{message.score}}</div>
                        </div>
                    </div>
                    <a href="/messages/{{message.channel_name}}/{{message.id}}" class="message">
                        <div class="message-info">{{message.message}}</div>
                    </a>
                </div>

              {% endfor %}
        </div>
      </div>
  </div>
{% endblock %}
