[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kafka-python = "*"
kafka-python3 = "*"
python-dotenv = "*"
django = "*"
django-extensions = "*"
aiokafka = "*"
psycopg2 = "*"
ipython = "*"

[requires]
python_version = "3.9"

[dev-packages]
