[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kafka-python = "*"
kafka-python3 = "*"
python-dotenv = "*"
django = "*"
django-extensions = "*"
aiokafka = "*"
#django-celery-beat = "*"

[requires]
python_version = "3.8"

[dev-packages]
